.test {
    background-color: yellow;
}

body {
    /* background-image: url("../images/background.jpg"); */
    background-repeat: no-repeat;
    font-family: 'Heebo', sans-serif;
}

div {
    /* border: 2px black solid; */
}


/* Gem CSS */

.gemclass {
    /* max-width: 100px;
    max-height: 100px; */
    /* vertical-align: middle; */
    /* background-color: yellow; */
    /* padding: 20px; */
    /* filter: brightness(120%); */
    -webkit-filter: drop-shadow(0px 0px 4px white);
}

.gemclass:hover {
    -webkit-filter: drop-shadow(0px 0px 14px yellow) brightness(130%);
}



/* Game Window CSS */


/* There are three different sizes for the game based on the window size, so there needs to be three different media elements */
/*  */
@media (min-width: 768px) {
    /* body{
        background-color: yellow;
    } */
    /* Main Window heights */
        #mainwindow { 
            height: calc(100vh - 10px);
            padding-top: 20px;
        }
        .gemcolclass {
            height: 20vh;
        }
        .gemclass {
            max-height: 20vh;
        }
        #gamedata {
            height: calc(80vh - 40px);
        }
    /* Shopkeeper element */
        #chatbubble {
            height: calc(30vh);
            margin-bottom: 30px;
            padding: 15px;
            margin-top: 20px;
        }
        .speech-bubble {
            position: relative;
            background: #00aabb;
            border-radius: .4em;
        }
        .speech-bubble:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0;
            height: 0;
            border: 25px solid transparent;
            border-top-color: #00aabb;
            border-bottom: 0;
            border-right: 0;
            margin-left: -12.5px;
            margin-bottom: -25px;
        }
        #shopkeeperpane {
            height: 40vh;
        }
        #shopkeeper {
            max-height: 40vh;
        }
}

@media (max-width: 767px) and (min-width: 576px) {
    /* body{
        background-color: green;
    } */
        /* Main Window heights */
        #mainwindow { 
            height: calc(70vh - 10px);
            padding-top: 20px;
        }
        .gemcolclass {
            height: 20vh;
        }
        .gemclass {
            max-height: 20vh;
        }
        #gamedata {
            height: calc(30vh - 40px);
        }
    /* Shopkeeper element */
        #chatbubble {
            height: 20vh;
            padding: 15px;
        }
        .speech-bubble {
            position: relative;
            background: #00aabb;
            border-radius: .4em;
        }
        .speech-bubble:after {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            width: 0;
            height: 0;
            border: 25px solid transparent;
            border-left-color: #00aabb;
            border-right: 0;
            border-bottom: 0;
            margin-top: -12.5px;
            margin-right: -25px;
        }
        #shopkeeperpane {
            height: 30vh;
        }
        #shopkeeper {
            max-height: 30vh;
            padding-left: 30px;
        }
}

@media (max-width: 575px) {
    /* body{
        background-color: lightblue;
    } */
        /* Main Window heights */
        #mainwindow { 
            height: calc(75vh - 10px);
            padding-top: 20px;
        }
        .gemcolclass {
            height: 15vh;
        }
        .gemclass {
            max-height: 15vh;
        }
        #gamedata {
            height: calc(45vh - 40px);
        }
        /* Shopkeeper element */
        #chatbubble {
            height: 25vh;
            padding: 15px;
        }
        .speech-bubble {
            position: relative;
            background: #00aabb;
            border-radius: .4em;
        }
        .speech-bubble:after {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            width: 0;
            height: 0;
            border: 25px solid transparent;
            border-left-color: #00aabb;
            border-right: 0;
            border-top: 0;
            margin-top: -8px;
            margin-right: -16px;
        }
        #shopkeeperpane {
            height: 25vh;
        }
        #shopkeeper {
            max-height: 25vh;
        }
}