.test {
    background-color: yellow;
}

body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    font-family: 'Heebo', sans-serif;
    position: relative;
}

div {
    /* testing frame by using borders */
    /* border: 2px black solid; */
}

h4 {
    margin: 0px;
}

.hidden {
    display: none;
}

/* options window */
#optionswindow {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 60vh;
    width: 60vw;
    background-color: #FFD409;
    z-index: 3;
    border-radius: 10px;
}

#owclose {
    position: absolute;
    right: calc(12px);
    top: calc(0px);
    font-size: xx-large;
}

#owheader {
    position: absolute;
    right: 50%;
    top: 30px;
    transform: translate(50%, 0%);
    font-size: xx-large;
}

#ownotes {
    position: absolute;
    left: 0px;
    bottom: 0px;
    font-size: small;
    padding: 0px 10px 10px 10px;
}

#difficulty {
    position: absolute;
    left: 20px;
    top: calc(60px + 5vh);
    width: calc(100% - 40px);
}

.optioncenter {
    align: center;
    text-align: center
}

/* https://www.w3schools.com/CSS/tryit.asp?filename=trycss_inline-block_span1 */
.optionbutton {
    background-color: white;
    padding: 10px;
    width: 120px;
    margin: 0px 10px;
    display: inline-block;
    border-radius: 2px;
    border: 3px #FFD409 solid;
}

.optionbutton {
}

.difficultyinactive:hover {
    border: 3px gray solid;
    color: gray;
}

.difficultyactive {
    background-color: rgb(46, 165, 46);
}

/* Gem CSS */
#gems {
    position: relative;
}
.gemcolclass {
    position: relative;
}

.gemclass {
    /* max-width: 100px;
    max-height: 100px; */
    /* vertical-align: middle; */
    /* background-color: yellow; */
    /* padding: 20px; */
    /* filter: brightness(120%); */
    -webkit-filter: drop-shadow(0px 0px 4px white);
    /* margin: auto !important; */
}

.gemclass:hover {
    -webkit-filter: drop-shadow(0px 0px 14px #FFD103) brightness(130%);
}

.gemnumber {
    position: absolute;
    right: calc(50% - 50px);
    top: 0%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

/* Game Window CSS */
#mainwindow {
    /* background-color: white; */
    border-radius: 10px;
    -webkit-filter: drop-shadow(0px 0px 1px gray);
        /* background-image: url("../images/background.jpg"); */
    max-height: 550px;
}

#gamedata{
    position: relative;
}

#magicnumberelement {
    position: absolute;
    top: calc(50% - 35px);
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 1.6;
    width: 100%;
}

#crystalsumelement {
    position: absolute;
    top: calc(50% + 35px);
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 1.6;
    width: 100%;
}

#wins {
    position: absolute;
    bottom: calc(5% + 20px);
    right: 10px;
    /* transform: translate(-50%, 0%); */
    text-align: center;
    line-height: 1.6;
    /* width: 100%; */
}

#losses {
    position: absolute;
    bottom: calc(5% + 0px);
    right: 10px;
    /* transform: translate(-50%, 0%); */
    text-align: center;
    line-height: 1.6;
    /* width: 100%; */
}

#optionsbutton {
    position: absolute;
    bottom: 0px;
    right: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    /* backdrop-filter: opacity(40%); */
    border-radius: 2px;
    /* filter: opacity(40%); */
    font-weight: bold;
}

/* There are three different sizes for the game based on the window size, so there needs to be three different media elements */
/*  */
@media (min-width: 768px) {
    /* body{
        background-color: yellow;
    } */
    /* Main Window heights */
        #mainwindow { 
            height: calc(100vh - 20px);
            padding-top: 20px;
            margin: 10px 0px;
        }
        .gemcolclass {
            height: 10vh;
        }
        .gemclass {
            max-height: 10vh;
        }
        #gamedata {
            height: calc(90vh - 40px);
            max-height: calc(550px - 10vh - 20px);
        }
    /* Shopkeeper element */
        #chatbubble {
            height: calc(30vh);
            margin-bottom: 30px;
            padding: 15px;
            margin-top: 11px;
        }
        .speech-bubble {
            position: relative;
            background: #00aabb;
            border-radius: .4em;
        }
        .speech-bubble:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0;
            height: 0;
            border: 25px solid transparent;
            border-top-color: #00aabb;
            border-bottom: 0;
            border-right: 0;
            margin-left: -12.5px;
            margin-bottom: -25px;
        }
        #shopkeeperpane {
            height: 40vh;
        }
        #shopkeeper {
            max-height: 40vh;
        }
}

@media (max-width: 767px) and (min-width: 576px) {
    /* body{
        background-color: green;
    } */
        /* Main Window heights */
        #mainwindow { 
            height: calc(70vh - 40px);
            padding-top: 20px;
            margin: 10px 10px 20px 10px;
        }
        .gemcolclass {
            height: 10vh;
        }
        .gemclass {
            max-height: 10vh;
        }
        #gamedata {
            height: calc(60vh - 60px);
        }
    /* Shopkeeper element */
        #chatbubble {
            height: 20vh;
            padding: 15px;
        }
        .speech-bubble {
            position: relative;
            background: #00aabb;
            border-radius: .4em;
        }
        .speech-bubble:after {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            width: 0;
            height: 0;
            border: 25px solid transparent;
            border-left-color: #00aabb;
            border-right: 0;
            border-bottom: 0;
            margin-top: -12.5px;
            margin-right: -25px;
        }
        #shopkeeperpane {
            height: 30vh;
        }
        #shopkeeper {
            max-height: 30vh;
            padding-left: 30px;
        }
}

@media (max-width: 575px) {
    /* body{
        background-color: lightblue;
    } */
        /* Main Window heights */
        #mainwindow { 
            height: calc(75vh - 40px);
            padding-top: 20px;
            margin: 10px 10px 20px 10px;
        }
        .gemcolclass {
            height: 15vh;
        }
        .gemclass {
            max-height: 15vh;
        }
        #gamedata {
            height: calc(45vh - 60px);
            max-height: calc(550px - 15vh - 60px);
        }
        /* Shopkeeper element */
        #chatbubble {
            height: 25vh;
            padding: 15px;
        }
        .speech-bubble {
            position: relative;
            background: #00aabb;
            border-radius: .4em;
        }
        .speech-bubble:after {
            content: '';
            position: absolute;
            right: 0;
            top: 50%;
            width: 0;
            height: 0;
            border: 25px solid transparent;
            border-left-color: #00aabb;
            border-right: 0;
            border-top: 0;
            margin-top: -8px;
            margin-right: -16px;
        }
        #shopkeeperpane {
            height: 25vh;
        }
        #shopkeeper {
            max-height: 25vh;
        }

        /* Changing the wins and losses to be the same as magic number at small sizes */
        #wins{
            position: absolute;
            top: calc(50% - 10px);
            left: 50%;
            transform: translate(-50%, 0%);
            text-align: center;
            line-height: 1.6;
            width: 100%;
        }
        
        #losses{
            position: absolute;
            top: calc(50% + 10px);
            left: 50%;
            transform: translate(-50%, 0%);
            text-align: center;
            line-height: 1.6;
            width: 100%;
        }
}